---
---

<!-- Hero with Video Background -->
<div class="relative h-screen">
  <!-- Video Background -->
  <video autoplay muted loop playsinline class="absolute inset-0 object-cover w-full h-full z-0" id="bgVideo">
    <source src="https://i.imgur.com/ln8hytN.mp4" type="video/mp4">
  </video>

  <!-- Black Overlay -->
  <div class="absolute inset-0 bg-black opacity-90 z-10"></div>
  
  <!-- Content -->
  <div class="absolute inset-0 flex flex-col items-center justify-center text-white z-20">
    <div class="max-w-5xl mx-auto px-4 xl:px-0">
      <h1 class="font-semibold uppercase text-lg md:text-lg">
        SERVING THE <span class="text-primary font-bold">PITTSBURGH AREA</span>
      </h1>
      <h1 class="font-semibold text-4xl md:text-6xl pt-2" style="line-height: 50px;">
        Elevate Your Ride with <span class="text-primary font-bold">Top-Tier</span> Mobile Auto Detailing
      </h1>
      <div class="max-w-4xl mt-5">
        <p class="text-lg">Welcome to Vanity Suds, Pittsburgh's premier mobile detailing solution! Experience top-notch interior and exterior cleaning, professional-grade ceramic coatings, and precise paint corrections—all brought to your doorstep for ultimate convenience. Trust our team to revitalize your vehicle, inside and out.</p>
      </div>
      <div class="pt-6">
        <button class="shadow-[inset_0_0_0_2px_#1C64F2] px-8 py-2 rounded-md tracking-widest uppercase font-bold bg-transparent hover:bg-[#1C64F2] hover:text-white dark:text-neutral-200 transition duration-200">
          SERVICES
        </button>
        <button class="shadow-[0_4px_14px_0_rgb(0,118,255,39%)] hover:shadow-[0_6px_20px_rgba(0,118,255,23%)] hover:bg-[rgba(0,118,255,0.9)] px-8 py-2 bg-primary rounded-md text-white font-bold transition duration-200 ease-linear ml-2">
          BOOK WITH US
        </button>
      </div>
    </div>
    
  </div>
</div>

