---
---

<!-- Hero with Video Background -->
<div class="relative h-screen">
  <!-- Video Background -->
  <video autoplay muted loop class="absolute inset-0 object-cover w-full h-full" id="bgVideo">
    <source src="https://framerusercontent.com/assets/XTskzKwGEEMru7H35ZOzeZZJTCU.mp4" type="video/mp4">
  </video>

  <!-- Dark Blue Gradient Overlay -->
  <div class="absolute inset-0 bg-gradient-to-r from-slate-950 to-transparent" style="background-size: 200% 100%; background-position: 1000% 0%;"></div>
  
  <!-- Content -->
  <div class="absolute inset-0 flex flex-col items-center justify-center text-white">
    <div class="max-w-5xl mx-auto px-4 xl:px-0">
      <h1 class="font-semibold text-5xl md:text-6xl">
        <span class="text-yellow-400">Preline Agency:</span> Transforming ideas into reality
      </h1>
      <div class="max-w-4xl mt-5">
        <p class="text-lg">It is a creative hub where imagination meets craftsmanship to transform ideas into tangible realities. At Preline Agency, we specialize in turning conceptual visions into concrete forms, whether it be through design, artistry, or technological innovation.</p>
      </div>
    </div>
  </div>
</div>

