---
import { InfiniteMovingCardsDemo } from '../home/cards' 
---

<!-- Testimonials -->
<div class="overflow-hidden bg-gray-800 dark:bg-neutral-950">
  <div class="relative max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl w-3/4 lg:w-1/2 mb-6 sm:mb-10 md:mb-16">
      <h2 class="text-3xl sm:text-3xl lg:text-4xl text-white font-semibold">
        What Our Amazing Customers Say About Us
      </h2>
    </div>
    <!-- End Title -->

    <InfiniteMovingCardsDemo client:only /> 


</div>
<!-- End Testimonials -->